name: RISC-V CPU CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  verification:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Icarus Verilog
      run: |
        sudo apt-get update
        sudo apt-get install -y iverilog

    - name: Compile CPU
      run: |
        iverilog -g2012 -o sim.out riscv_pkg.sv src/*.sv test/pipelined_cpu_tb.sv

    - name: Run Complex Branch Test
      run: |
        vvp sim.out +TEST=mem/complex_branch_test.mem | grep "PASS"

    - name: Run LUI Test
      run: |
        vvp sim.out +TEST=mem/lui_test.mem | grep "PASS"

    - name: Run Fibonacci Test
      run: |
        vvp sim.out +TEST=mem/fib_test.mem | grep "PASS"